body { 
    background-color: #e2ede4;
    margin-top:2%;
    margin-right:1%;
    margin-bottom:2%;
    margin-left:1%;
    font-family: 'Calibri'; 
}

#banner{
    height:100;
    width: 1600;
    
    align-items: center;
    display: flex;
    
    background-image: url("Images/banner.png");
    background-position: center;
        
    font-family:'Helvetica'; 
    font-size: 20px;
    color: rgb(33, 194, 154);
    text-shadow: 1px 1px black;
    
}
ul{
    list-style-type:disc;
}
a:link{
    color:blue;
    text-decoration: none;
}
a:visited{
    color:brown
}
a:hover{
    background-color:lightgreen;
}
